<div data-role="page" id="HomePage">
    <div data-role="header" data-position="fixed">        
        <h1>CodePlanner - Home</h1>        
    </div>
    <div data-role="content">
        <ul data-role="listview" data-inset="true">            
            			<li>
                <a href="/Director">Director</a>
            </li>
						<li>
                <a href="/Movie">Movie</a>
            </li>
						
        </ul>
    </div>
    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
               <li><a href="/Home" data-icon="home" data-iconpos="top">Home</a></li>
            </ul>
        </div>
        <h4>&copy codeplanner 2012</h4>
    </div>
</div>